@import '../_colors';
@import '../_styles';
@import '../_globals.scss';

nav {
    height: 5rem;
    background: $darker;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $margin-x;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    & ul {
        display: flex;

        & li {
            list-style: none;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}