@import "./_globals.scss";
@import "./_colors.scss";

#hero {
    height: 100vh;
    margin: 0 $margin-x;
    padding: 15rem 0;
    display: flex;
    justify-content: space-between;

    section {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 5vw;

        :first-child {
            margin-bottom: 2rem;
        }

        img {
            max-width: 50vw;
            width: 100%;
        }
    }

    aside {
        max-width: 50vw;
        flex: 1;
        margin-left: 5vw;

        img {
            border: 1rem solid $accent-blue;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

#cards {
    $offset: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 150vh;
    transform: translateY(-1 * $offset);
    margin-top: $offset;
    z-index: -1;

    .card {
        flex: 1;
        background: $darker;
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        align-self: flex-start;

        &:nth-child(3) {
            top: 0;
            transform: translateY($offset);
        }

        &:nth-child(2) {
            top: $offset / 2;
            transform: translateY($offset / 2);

            .content::after {
                content: "";
                background: $dark;
                position: absolute;
                width: 100%;
                left: 0;
                top: 100%;
                bottom: -$offset / 2;
            }
        }

        &:nth-child(1) {
            top: $offset;

            .content::after {
                content: "";
                background: $dark;
                position: absolute;
                width: 100%;
                left: 0;
                top: 100%;
                bottom: -$offset;
            }
        }

        &:not(:first-child):not(:last-child) {
            margin: 0 1rem;
        }

        .content {
            background: $dark;
            text-align: center;
            position: absolute;
            top: 30vh;
            bottom: 0;

            img {
                height: 7.5rem;
                margin-top: -3.5rem;
            }

            h1 {
                text-align: center;
                margin: 2rem 1rem 1.5rem;
            }

            p {
                margin: 0 1rem 1.5rem;
            }

            @media only screen and (min-width: $md-width) {
                h1 {
                    margin: 2rem 15% 1.5rem;
                }
    
                p {
                    margin: 0 15% 1.5rem;
                }
            }
        }
    }
}

#about {
    height: 100vh;
    background-color: $dark;
    padding: 9rem $margin-x;

    .content {
        display: flex;

        p {
            flex: 1;
            margin-top: 1rem;
            margin-right: 5vw;
        }

        aside {
            max-height: calc(100vh - 19rem);
            margin-left: 5vw;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            flex: 1;
    
            img {
                // margin: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#sponsors_contact {
    height: 100vh;
    padding: 9rem $margin-x;
    display: flex;
    background: $dark;
    position: relative;

    h1 {
        margin-bottom: 1rem;
    }

    #sponsors {
        width: calc(2 / 3 * 100%);
        background: $dark;

        p {
            margin-right: $margin-x;    
        }

        img {
            margin-top: 2rem;
        }
    }

    #contact {
        width: $margin-x + (1 / 3 * (100% - 2 * $margin-x));
        padding: 9rem $margin-x / 2;
        background: $darker;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        form {
            height: 100%;
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 0.5rem;
            }

            label:not(:first-child) {
                margin-top: 1rem;
            }

            input:not([type="submit"]), textarea {
                border: none;
                background: $dark;
                padding: 0.5rem 1rem;
                border-radius: 0.125rem;
                flex-grow: 1;
            }

            textarea {
                flex-grow: 10;
                resize: none;
            }

            input[type="submit"] {
                margin-top: 2rem;
                width: 10rem;
            }
        }
    }
}