@import './_colors';
@import './_styles';
@import './_globals.scss';

nav {
    height: 5rem;
    background: $darker;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $margin-x;

    & ul {
        display: flex;

        & li {
            list-style: none;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}